<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
<h1>Login/Register to Morningside Heights Restaurant Recommendations Generator</h1>
  
<h4>Login</h2>
<form method="POST" action="/login_submit">
<p>
  Email: <input type="text" name="email"> <br />
  Password: <input type="password" name="password"> <br />
  <input type="submit" value="Sign in">
</p>
</form>

<h4>Register</h2>
<form method="POST" action="/register_submit">
<p>
  Email: <input type="text" name="email_register"> <br />
  Password: <input type="password" name="password_register"> <br />
  Confirm Password: <input type="password" name="password_confirm"> <br />
  <input type="submit" value="Register">
</p>
</form>

</body>


</html>
