<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Morningside Heights Restaurant Recommendation Generator</h1>

  <p>Generate a recommendation, choose one of the following</p>

  Cuisine Type:
  <select>
    <option value="volvo">Mexican</option>
    <option value="saab">Sandwhich/Sub</option>
    <option value="mercedes">Indian</option>
    <option value="audi">Italian</option>
  </select>
  <br />
  
  Distance (number of block radius):
  <select>
    <option value="volvo">2</option>
    <option value="saab">4</option>
    <option value="mercedes">6</option>
    <option value="audi">8</option>
    <option value="audi">10</option>
  </select>

</body>

</html>
