<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h3>Restaurants Directory</h3>

  <form action="/view_restaurant_details?uid={{uid}}" method="POST">
    <select name="chosen_restaurant">
      {% for restaurant in restaurants %}
        <option value="{{restaurant}}">{{restaurant}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Select">
  </form>

  {% if location != '' %}
    <p> Located: {{location}} </p>
  {% endif %}

  {% if menu_details|length > 0 %}
    <h5> Menu </h5>
    {% for item_type, price in menu_details %}
      <p> {{item_type}}: {{price}}</p>
    {% endfor %}
  {% endif %}

  {% if ratings|length > 0 %}
    <h5> Ratings </h5>
    {% for rating_id, stars, review in ratings %}
      <p> {{stars}}: {{review}}</p>
      {% for comment_body in comments[rating_id|int] %}
        <p> {{comment_body}} </p>
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if rid != -1 %}
    <form method="POST" action="/add_rating">
      <p>
        Write a review: <input type="text" name="new_review" placeholder="Review Text">
        Stars: <select name="stars">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input type="hidden" name="rid" value="{{rid}}"/>
        <input type="hidden" name="uid" value="{{uid}}"/>
        <input type="submit" value="Publish">
      </p>
    </form>
  {% endif %}
</body>

</html>
